@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px ;
    transition: 0.5s ease;
}

#bgcolor{
  background-color: #dc143c30;
}
#nobgcolor{
  background-color: transparent;
}
header .brand{
    color: #3567d7;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .navigation{
    position: relative;
}
header .navigation .navigation-items a{
    position: relative;
    color: #3567d7;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 30px;
    font-weight: 500;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:before{
    content: "";
    position: absolute;

    width: 0;
    background: #fff;
    
    height: 3px;
    bottom: -5px;
    left: 0;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:hover::before{
width: 100%;
}


/* **********Welcomepage************ */
section{
    padding: 100px 200px;
}
.home{
    position: relative;
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #82AAE3;

}







.home .content{
    z-index: 888;
    color:#fff;
    width: 70%;
    margin-top: 50px;

}
.home .content.active{
  display: block;
}
.nocontent{
  display:none ;
}
.hedcontent{
 
  height: auto;
  width: 100%;
}



.home .content h1{
    font-size: 4rem;
   
      -webkit-text-stroke: 4px #fff;
      color: transparent;
    
    font-weight: 900;
   
    text-transform: uppercase;
    letter-spacing: 6px;
    line-height: 75px;
    margin-bottom: 40px;
}
.home .content h1 span{
    font-size: 3rem;
    -webkit-text-stroke: 3px #fff;
    color:#fff;

font-weight: 400;
}
.home .content p{
    margin-bottom: 65px;
}
.home .content a{
    background: #fff;
    padding: 15px 35px;
    color: #1680ac;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 6px;
}
.home .media-icons{
z-index: 888;
position: absolute;
right: 30px;
display: flex;
flex-direction: column;
transition: 0.5s ease;
}
.home .media-icons a{
    color: #fff;
    font-size: 1.6rem;
    transition: 0.4s ease;
}
.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}
.home .media-icons a:hover{
    transform: scale(1.3);
}


.home video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
  margin-top: 26rem;
}

.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
  background: #2696E9;
}

.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}

.video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 0.01s;
  transition-property: clip-path;
}












@media (max-width:1040px){
    header{
        padding: 12px 20px;
      }
    
      section{
        padding: 100px 20px;
      }
    
      .home .media-icons{
        right: 15px;
      }
    
      header .navigation{
        display: none;
      }
      header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
      }
    
      header .navigation .navigation-items a{
        color: #222;
        font-size: 1.2em;
        margin: 20px;
      }
    
      header .navigation .navigation-items a:before{
        background: #222;
        height: 5px;
      }
    
      header .navigation.active .navigation-items{
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
      }
    
    .menu-btn{
        background: url(../../public/images/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
      }
      .menu-btn.active{
        z-index: 999;
        background: url(../../public/images/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
      }
      
    

}
@media (max-width: 560px){
    .home .content h1{
      font-size: 2.5rem;
      line-height: 60px;
      -webkit-text-stroke: 2px #fff;
    }
    .home .content h1 span{
      font-size: 2.2rem;
  
  font-weight: 600;
  }
}
@media (max-width: 390px){
  .home .content h1{
    font-size: 2.4rem;
    line-height: 60px;
  }
  .home .content h1 span{
    font-size: 2rem;

font-weight: 400;
}
}




/* ********************************loginform*************************** */


.container1 {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}
.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #e8f0fe;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.7rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  border-radius: 0px 55px 55px 0px;

 
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.3rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}


.btn:hover {
  background-color: #4d84e2;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container1:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container1.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container1.sign-up-mode .left-panel .image,
.container1.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container1.sign-up-mode .signin-signup {
  left: 25%;
}

.container1.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container1.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container1.sign-up-mode .right-panel .image,
.container1.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container1.sign-up-mode .left-panel {
  pointer-events: none;
}

.container1.sign-up-mode .right-panel {
  pointer-events: all;
}

#home-icn1{

font-weight: 900;
  color: #ffffff;
 
}
#icon-back{
  background-color: #4481eb;
  border: none;

}
#icon-back:hover{
  background-color: #04c0fee5;
  border: none;
  color: #4481eb ;

}



@media (max-width: 870px) {
  .container1 {
    min-height: 800px;
    height: 100vh;
  }
 
 
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container1.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container1:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container1.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container1.sign-up-mode .left-panel .image,
  .container1.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container1.sign-up-mode .right-panel .image,
  .container1.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container1.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container1 {
    padding: 1.5rem;
  }

  .container1:before {
    bottom: 72%;
    left: 50%;
  }

  .container1.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}



/**************************** adddata******************************** */

.service{
  width: 100%;
  padding: 100px 60px;
  margin: auto;
}
.service h1{
  margin-top: -4rem;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 60px;
  padding-bottom: 15px;
  text-transform: uppercase;
  position: relative;
}
.service h1::after{
  content: '';
  width: 170px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background-color:crimson;
}
.service .content{
  display: flex;
  width: 100%;

  align-items: center;

  overflow-x: scroll;
  overflow-y: hidden;


}
.service .content::-webkit-scrollbar{ 
    
  display: none;
}
.card {
  background-color: #66a8c6;
  min-width: 312px;
  padding: 30px 20px;
  border-radius: 6px;
  margin-left: 1rem;
  position: relative;
  cursor: pointer;
  float: left;
  transition: all 0.5s ease;
  overflow: hidden;
  height: 338px;
  margin-bottom: 1rem;
}
.card img{
  position: absolute;
  top: -150px;
  right: -150px;
  transition: all 0.6s ease-in-out;
}
.box{
  text-align: left;
  color: #ffff;
}
.box i{
  font-size: 40px;
  padding-left: 10px;
  color: crimson;
  transition: color 0.3s ease;
  margin-bottom: 1rem;

}
.box h2{
  font-size: 25px;
  margin-bottom: 0.8rem;

}
.card::before{
  content: '';
  height: 100%;
  width: 0%;
  background-color: crimson;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  border-radius: 6px;
  transition: all 0.5s ease;


}
.card:hover{
  background-color: transparent;

}
.card:hover::before{
  width: 100%;

}
.card:hover .box i{
  color: #fff;
}
.card:hover img{
  top: 0;
  right: 0;
}

@media (max-width: 1150px){


}